body{
    padding: 20px;
}

#facture{
    float: right;
    margin-bottom: 22px;
}

.btn_delete{
    color: red;
    cursor: pointer;
    border: 1px solid;
    border-radius: 4px;
    padding: 8px;
    margin: auto;
    width: 38px;
}

#ligne_none{
    display: none;
}

.fl_right{
 text-align: right;
}

#create{
    margin-top: 40px;
}

#border1, #border2{
    border-top:1px solid lightgray;
    border-bottom:1px solid lightgray;
    margin-bottom: 20px;
    padding-top:10px;

}